
<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-xs-12 col-sm-4 col-lg-3 flex">
      <div class="card-wrapper">
      <% if article.photo? %>
        <% photo = article.photo.path %>
      <% elsif article.image? %>
        <% photo = article.image %>
      <% end %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo, width: 200, height: 200, crop: :fill %>');">

        <div class="card-name-desc">
          <h2><%= article.name %></h2>
          <p><%= article.description %></p>
        </div>
        <div class="card-cart">
          <% if !current_user.nil? %>
            <%= link_to new_order_path(article), method: :post do %>
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-details">
        <% if article.user.profile_picture? %>
          <%= cl_image_tag article.user.profile_picture.path, class: "card-user" %>
        <% else %>
          <%= image_tag "http://placehold.it/30x30", class: "card-user" %>
        <% end %>
        <div class="card-vendor-name">
          <p><%= article.user.last_name %></p>
          <p><%= article.user.first_name %></p>
        </div>
        <div class="card-quantity-price">
          <%= article.quantity %><%= article.unit %> pour <%= article.price %>€
        </div>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


