<%= render 'orders/buttonsachats' %>

<div class="container" id="inbox" style="margin:20px; align-items:center">
<h1>Mes achats en préparation</h1>
<% if @orders.count == 0  %>
  <h3>pas d'achats en préparation, patientez en, <%= link_to "créant une commande!", articles_path %></h3>
  <% end %>
    <div class="row message unread" style="border-bottom: 1px solid #ccc; padding: 0.4em 0; cursor: pointer; font-weight: bold;
  background-color: white;">
      <div class="col-xs-3">Commande</div>
      <div class="col-xs-3">Vendeur</div>
      <div class="col-xs-3">Prix</div>
      <div class="col-xs-3">Actions</div>
    </div>
    <% @orders.each do |order| %>
    <div class="row message read" style="background-color: #eee;">
      <div class="col-xs-3"><%= order.article.name.upcase %> </div>
      <div class="col-xs-3"><%= order.user.first_name %></div>
      <div class="col-xs-3"><%= order.article.price %>€</div>
      <div class="col-xs-3">
        <%= link_to "", destroy_order_path(order), method: :delete, class: "fa fa-ban", style: "color:#6D516B; font-size:50px; left:50px; align-items: right;"%>
      </div>
    </div>
    <% end %>
  </div>
