
<nav>

 <div class="tabs tabs-style-iconbox text-center">
 <ul class="list-inline">
 <li>
<%= link_to "Mes achats en cours", myorders_path(status: :en_cours), class: "" %>
</li>
<li>
<%= link_to "Mes achats en préparation", myorders_path(status: :a_preparer), class: "" %>
</li>
<li>
<%= link_to "Mes achats à récupérer", myorders_path(status: :confirme), class: "" %>
</li>
<li>
<%= link_to "Historique", myorders_path(status: :livre), class: "" %>
</li>
</ul>
</div>

   </nav>
<%= link_to "back", articles_path, class: "btn btn-primary" %>
