<%= render 'orders/buttons' %>

<div class="container" id="achatsARecuperer">
<h1>Mes achats à récupérer</h1>
  <% @orders.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <br
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">
    <%= link_to "confirmer pickup", change_statut_path(order, status: :livre), class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
