<div class="container_form">

  <div class="row">
    <%= simple_form_for @article do |f| %>
    <%= f.error_notification %>

    <div class="col-xs-12">
      <%= f.input :name, placeholder: "Nom", label: false %>
    </div>
    <div class="col-xs-12">
      <%= f.input :description, placeholder: "Description", label: false%>
    </div>
    <div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <%= f.input :quantity, placeholder: "Qte", label:false  %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <%= f.input :unit, placeholder: "Unitée", collection: Article.units, label:false %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <%= f.input :price, placeholder: "Prix", label:false %>
        </div>
      </div>
      <div class="text-center">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.input :photo, as: :attachinary, placeholder: "chemin image", label:false %>
          </div>
        </div>
        <%= f.input :delivery_date, label: "Date de livraison" %>
        <%= f.submit "Valider", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
