<%= render 'orders/buttonsachats' %>

<div class="container" id="achatsEnCours">
<h1>Mes achats en cours</h1>
<% if @orders.count == 0  %>
  <h3>pas d'achats en cours, <%= link_to "créez une commande!", articles_path %></h3>
  <% end %>
  <% @orders.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <b>
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">

    <%= link_to "supprimer", destroy_order_path(order), method: :delete, class: "btn btn-primary" %>
    <%= link_to "confirmer", change_statut_path(order, status: :a_preparer), class: "btn btn-primary" %>
  </div>


  <ul class="list-group">
  <li class="list-group-item justify-content-between">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i><b>
    <span class="badge badge-default badge-pill">
    <%= link_to "supprimer", destroy_order_path(order), method: :delete, class: "btn btn-primary" %>
    <%= link_to "confirmer", change_statut_path(order, status: :a_preparer), class: "btn btn-primary" %>
    </span>
  </li>
  <li class="list-group-item justify-content-between">
    Dapibus ac facilisis in
    <span class="badge badge-default badge-pill">2</span>
  </li>
  <li class="list-group-item justify-content-between">
    Morbi leo risus
    <span class="badge badge-default badge-pill">1</span>
  </li>
</ul>

  <% end %>
</div>
