<%= link_to "back", articles_path, class: "btn btn-primary" %>

<div class="btn btn-primary en-cours">Mes achats en cours</div>
<div class="btn btn-primary a-recuperer">Mes achats en préparation</div>
<div class="btn btn-primary a-recuperer">Mes achats à récupérer</div>
<div class="btn btn-primary historique">Historique des achats</div> <br><br>


<div class="container" id="achats-en-cours">
<h1>Mes achats en cours</h1>
  <% @orders.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <br
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">

    <%= link_to "supprimer", destroy_order_path(order), method: :delete, class: "btn btn-primary" %>
    <%= link_to "confirmer", change_statut_path(order, status: :a_preparer), class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<div class="container" id="achats-en-preparation">
<h1>Mes achats en préparation</h1>
  <% @orders_prepa.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <br>
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">
    <%= link_to "annuler", change_statut_path(order, status: :annulle), class: "btn btn-primary" %>
  </div>
  <% end %>
</div>



<div class="container" id="achats-a-recuperer">
<h1>Mes achats à récupérer</h1>
  <% @orders_a_recup.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <br
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">
    <%= link_to "confirmer pickup", change_statut_path(order, status: :livre), class: "btn btn-primary" %>
  </div>
  <% end %>
</div>



<div class="container" id="historique">
<h1>Historique des achats</h1>
  <% @orders_historique.each do |order| %>
  <div class="col-xs-10">
    <b> <%= order.article.name %> de <%= order.user.first_name %> </b><i> (<%= order.status %>)</i>
    <br
    <%= order.article.quantity %>
    <%= order.article.unit %>
    <br>
    prix : <i><b><%= order.article.price %>€</b></i>
    <br>
    vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
    <br>
    ---------------------
  </div>
  <div class="col-xs-2">

    <%= link_to "supprimer", destroy_order_path(order), method: :delete, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<script>


</script>








