<%= link_to "back", articles_path, class: "btn btn-primary" %>

<div class="btn btn-primary en-cours">Mes produits</div>
<div class="btn btn-primary a-recuperer">Mes commandes à préparer</div>
<div class="btn btn-primary historique">Mes commandes en attente pickup</div>
<div class="btn btn-primary historique">Historique</div> <br><br>

<div class="container">
    <h1>Mes produits</h1>
  <div class="col-md-4 col-lg-4 col-xs-12">
    <%= render 'form', article: @article %>
  </div>
  <div class="col-md-8 col-lg-8 col-xs-12">
    <% @articles.each do |article| %>
    <div class="col-xs-10">
      <b> <%= article.name %>  </b><i> (<%= article.quantity%>(<%= article.unit %>)</i>
      <br
      <%= article.description %>
      <br>
      prix : <i><b><%= article.price %>€</b></i>
      <br>
      vendeur : <%= article.user.first_name + " " + article.user.last_name %>
      <br>
      ---------------------
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h1>Mes commandes à préparer</h1>
  <div class="col-md-8 col-lg-8 col-xs-12">
    <% @orders_a_preparer.each do |order| %>
      <div class="col-xs-10">
      <b> <%= order.article.name %>  </b><i> (<%= order.status %>)</i>
      <br>
      <%= order.article.quantity %>
      <%= order.article.unit %>
      <br>
      prix : <i><b><%= order.article.price %>€</b></i>
      <br>
      vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
      <br>
      ---------------------
    </div>
    <div class="col-xs-2">
      <%= link_to "Préparation ok", prepare_path(order), class: "btn btn-primary" %>
      <%= link_to "Annuler", annule_path(order), class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>

<div class="container">
  <h1>Mes commandes en attente pickup</h1>
  <div class="col-md-8 col-lg-8 col-xs-12">
    <% @orders_livre.each do |order| %>
    <div class="col-xs-10">
      <b> <%= order.article.name %>  </b><i> (<%= order.status %>)</i>
      <br>
      <%= order.article.quantity %>
      <%= order.article.unit %>
      <br>
      prix : <i><b><%= order.article.price %>€</b></i>
      <br>
      vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
      <br>
      ---------------------
    </div>
    <div class="col-xs-2">
      <!-- btn à mettre -->
    </div>
    <% end %>
  </div>

</div>

<div class="container">
  <h1>Historique</h1>
  <div class="col-md-8 col-lg-8 col-xs-12">
    <% @orders_termine.each do |order| %>
    <div class="col-xs-10">
      <b> <%= order.article.name %>  </b><i> (<%= order.status %>)</i>
      <br>
      <%= order.article.quantity %>
      <%= order.article.unit %>
      <br>
      prix : <i><b><%= order.article.price %>€</b></i>
      <br>
      vendeur : <%= order.article.user.first_name + " " + order.article.user.last_name %>
      <br>
      ---------------------
    </div>
    <div class="col-xs-2">
      <!-- btn à mettre -->
    </div>
    <% end %>
  </div>

</div>
